---
Checks: >
    *,
    -fuchsia-*,
    -google-*,
    -zircon-*,
    -abseil-*,
    -llvm-*,
    -cppcoreguidelines-pro-type-union-access,
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle: none
